@import url("https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:wght@600&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Anton", sans-serif;
  font-family: "Playfair Display", serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: lightblue;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 6px;
  min-height: 10vh;
}
h1 {
  color: rgb(0, 145, 255);
}
main {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.gameboard {
  width: 35rem;
  height: 35rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.outcome-span {
  font-size: 2rem;
  text-decoration: underline;
}
.box {
  border: solid grey 0.5rem;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  transition-duration: 0.4s;
}
.box:hover {
  background-color: lightgray;
}
footer {
  min-height: 5rem;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
